:root{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    --background-main: #f5f2fd;
    --dmode-background-main: rgb(49, 48, 48);
    --background-dark: #cec2ea;
    --background-card: #fff;
    --button: #f1586c;
    --button-shadow: #bea9ee;
}

body {
    margin: 0;
    padding: 0;
    /* background: #f7f7f8; */

}



header {
    background: var(--background-card);
    border-bottom: 4px solid var(--background-main);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    width: 100vw;
    gap: 10px 50px;
}

.logo-area {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 20px 10px 20px 100px;
    /* margin: 0 50px; */
}

.logo-area img {
    height: 40px;
    /* border-radius: 50%; */
}

.logo-text {
    font-size: 1.9rem;
    font-weight: bold;
    margin: 0;
}

.link-area {
    display: flex;
    padding: 20px 100px 20px 10px;
    align-items: center;
    gap: 40px;
}

.link-area img {
    height: 30px;
    /* border-radius: 50%; */
}

.link {
    display: flex;
    gap: 10px;
    align-items: center;
}

.link-text {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    transition: all 0.2s ease-in-out;
}

.link-text:hover {
    padding-bottom: 7px;
    border-bottom: 2px solid var(--button);
}

a {
    text-decoration: none;
    color: inherit;
}

.link-button {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 5px 30px;
    border-radius: 15px;
    border: none;
    background: var(--button);
    color: var(--background-card);
    box-shadow: 4px 4px 2px var(--button-shadow);
    transition: all 0.3s ease-in-out;
}

.link-button.add-book-button{
    background: #7761ab;
    color: var(--background-card);
    

}

.link-button:hover {
    padding: 5px 50px;
    box-shadow: 4px 6px 10px var(--button-shadow);

}

.dark-mode-symbol {
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.dark-mode-symbol:hover {
    transform: rotate(180deg);
    translate: 5px;
    height: 40px;
}

/* main {
    background: #f5f2fd;
} */

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: stretch;
    gap: 50px;
    padding: 50px 100px;
    padding-top: 150px;
}

.card {
    height: 400px;
    max-width: 350px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background: var(--background-dark);
    box-shadow: 3px 3px 4px #beb4d7;

}

@media screen and (max-width: 1100px) {
    header {
        justify-content: center;
    }

    .logo-area {
        padding: 20px;
    }

    .link-text {
        display: none;
    }

    .link-area {
        gap: 25px;
        padding: 20px 20px;
    }

    .link-button {
        font-size: 1.2rem;
        font-weight: 600;
        padding: 5px 12px;
        border-radius: 10px;
    }
}