:root{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    --background-main: #f7f5ff;
    --dmode-background-main: rgb(49, 48, 48);
    --background-dark: #cec2ea;
    --background-card: #fff;
    --button: #f1586c;
    --button-shadow: #bea9ee;
    --button-add: #7761ab;
}

body {
    margin: 0;
    padding: 0;
    background: #f7f7f8;
}



header {
    background: var(--background-card);
    border-bottom: 4px solid var(--background-main);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    width: 100vw;
    gap: 10px 50px;
}

.logo-area {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 20px 10px 20px 100px;
}

.logo-area img {
    height: 40px;
}

.logo-text {
    font-size: 1.9rem;
    font-weight: bold;
    margin: 0;
}

.link-area {
    display: flex;
    padding: 20px 100px 20px 10px;
    align-items: center;
    gap: 40px;
}

.link-area img {
    height: 30px;
}

.link {
    display: flex;
    gap: 10px;
    align-items: center;
}

.link-text {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.link-text:hover {
    padding-bottom: 7px;
    border-bottom: 2px solid var(--button);
}

a {
    text-decoration: none;
    color: inherit;
}

.link-button {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 5px 30px;
    border-radius: 15px;
    border: none;
    background: var(--button);
    color: var(--background-card);
    box-shadow: 4px 4px 2px var(--button-shadow);
    transition: all 0.3s ease-in-out;
}

.link-button.add-book-button{
    background: #7761ab;
    color: var(--background-card);
}

.link-button:hover {
    padding: 8px 30px;
    box-shadow: 4px 6px 10px var(--button-shadow);

}

.dark-mode-symbol {
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.dark-mode-symbol:hover {
    transform: rotate(180deg);
    translate: 5px;
    height: 40px;
}



.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: stretch;
    gap: 50px;
    padding: 50px 100px;
    padding-top: 200px;
}

.card {
    height: 400px;
    max-width: 350px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background: var(--background-main);
    border: 2px solid rgb(230, 230, 230);
    box-shadow: 3px 3px 4px #beb4d7;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.media-image {
    object-fit: cover;
    height: 150px;
    border-radius: 10px;
}

.book-name,
.author,
.pages {
    font-weight: 500;
    font-size: 1rem;
    margin: 12px 0;
}


.details span {
    font-weight: bold;
    white-space: pre;
    font-size: 0.95rem;
}

hr {
    border: 1px solid rgb(215, 215, 215);
    margin: 12px 0;
}

.card-buttons {
    display: flex;
    justify-content: space-between;
}

.read-state {
    background: var(--button-add);
    border: none;
    color: #fff;
    border-radius: 5px;
    padding: 0 15px;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    box-shadow: 4px 4px 4px #beb4d7;
}

.unread-state {
    background: var(--button);
    border: none;
    color: #fff;
    border-radius: 5px;
    padding: 0 15px;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    box-shadow: 3px 3px 4px #beb4d7;
}

.read-state:hover,
.unread-state:hover {
    padding: 0 25px;
}

.delete {
    width: 30px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.delete:hover {
    transform: rotate(360deg) scale(1.3);
    translate: 5px;
    
}


@media screen and (max-width: 1100px) {
    header {
        justify-content: center;
    }

    .logo-area {
        padding: 20px;
    }

    .link-text {
        display: none;
    }

    .link-area {
        gap: 25px;
        padding: 20px 20px;
    }

    .link-button {
        font-size: 1.2rem;
        font-weight: 600;
        padding: 5px 12px;
        border-radius: 10px;
    }
}